/* Navbar Styles */
.navbar-container {
  display: flex;
  flex-direction: column;
  width: 200px; /* Adjust the width as needed */
  height: 100vh; /* Full viewport height */
  background-color: #f0f0f0; /* Background color */
  border-right: 1px solid #ddd; /* Border on the right */
}

.Polaris-Navigation {
  display: flex;
  flex-direction: column;
}

.Polaris-Navigation__Section {
  display: flex;
  flex-direction: column;
}


/* Header Section Alignment */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section div {
  margin: 0 20px;
}

.primary-button {
  background-color: #007bff;
  color: white;
  border: none;
}

.primary-button:hover {
  background-color: #0056b3;
}


/* Pie Chart Container */
.pie-chart-container {
  width: 400px;
  margin: 0 auto;
}

/* General Spacing */
.section {
  margin-bottom: 20px;
}

.card {
  padding: 20px;
}

/* Typography */
h1 {
  font-size: 24px;
  font-weight: bold;
}
p {
  font-size: 16px;
}
